---
import Layout from "@/layouts/Layout.astro";
import PageHeader from "@/components/PageHeader.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { projects } from "@/lib/projects";

const title = "Projects";
const description =
  "A selection of projects I'm actively working on or have built over the years.";
---

<Layout title={title} description={description}>
  <main class="mx-auto max-w-7xl px-4 py-16 lg:px-6 lg:py-24">
    <div class="mx-auto max-w-3xl">
      <PageHeader title={title} description={description} />
    </div>

    <div
      class="mx-auto mt-10 max-w-3xl divide-y divide-gray-200 dark:divide-neutral-700"
    >
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </main>
</Layout>
